
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem 0;
    background-image: url(assets/marvel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 33%; 
    gap: 1rem;
}
img{
    width: 100%;
    height: auto;
}

button{
    padding: 1rem;
    background-color: #c30101;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
}